/*==================================

Vars

==================================*/
html {
  --primary: #0fbfaa;
  --pr-alt1: #3c5453;
  --secondary: #0e4253;
  --accent: #ffdc61;
  --accent-alt1: #ffe277;
  --accent-alt2: #f4d35c;
  --bg: #fff;
  --bg-alt: #c0eae5;
}
/*==================================

Config

==================================*/
html,
::before,
::after {
  font-family: sans-serif;
  font-size: 16px;
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  line-height: 1.7;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
main > .container > *:first-child {
  margin-top: 0;
}

/* <a> */
a,
:any-link {
  color: var(--secondary);
}
a:hover {
  color: var(--primary);
}

/* <menu> -> <li> */
menu {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;

    a {
      text-decoration: none;
    }
  }
}

/*ページ全体 ====================*/
.container {
  padding: 0 16px;
}

@media (width >= 768px) {
  .limit {
    margin: 0 auto;
    max-width: 1032px;
  }
}
/*================================

Header

================================*/
.header {
  position: sticky;
  left: 0;
  top: 0;

  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;

  background-color: var(--bg);

  .first-row {
    .topnav {
      display: flex;
      justify-content: space-between;
    }
    .function {
      display: none;
    }
  }

  .globalnav {
    /* <menu> -> <li> */
    menu {
      margin: 32px 0 0;
      padding: 0;
      border-bottom: 1px solid var(--bg-alt);

      li {
        border-top: 1px solid var(--bg-alt);
        padding: 12px;
        list-style-type: none;
        text-align: center;

        a:any-link {
          color: var(--pr-alt1);
          text-decoration: none;
        }
        a:hover {
          color: var(--accent);
        }
      }
    }
  }
}

/* ハンバーガーボタンがmenu-is-openでないとき、ナビゲーションを非表示 */
.header:has(.hamburger:not(.menu-is-open)) {
  .globalnav {
    display: none;
  }
}
/* PC表示の場合は.menu-is-openでもメニューを表示 */
@media (width >= 768px) {
  .header:has(.hamburger:not(.menu-is-open)) {
    .globalnav {
      display: block;
    }
  }
}

/* PC向け */
@media (width >= 768px) {
  .header {
    position: static;

    .container {
      .first-row {
        display: flex;
        justify-content: space-between;

        margin-bottom: 20px;

        .function {
          display: inline-block;

          /* 検索フォーム・フォーム部品 */
          form[name="search"] {
            display: inline-block;
            margin-right: 24px;

            input[type="search"] {
              appearance: none;
              border: 1px solid #c9c9c9;
              border-radius: 8px;
              padding: 8px;
              font-size: 16px;
            }

            button[type="submit"] {
              margin-left: 4px;
              margin-right: 4px;
              border: none;
              border-radius: 8px;
              padding: 12px;
              font-size: 14px;
              background-color: var(--accent);
              cursor: pointer;

              .icon-search {
                display: inline-block;
                padding-right: 4px;
                transform: translate(0, 2px);
              }
            }
            button[type="submit"]:hover {
              background-color: var(--accent-alt1);
            }
            button[type="submit"]:active {
              background-color: var(--accent-alt2);
            }
          }

          /* ヘルプボタン・ログインボタン */
          .help,
          .login {
            border: none;
            padding: 4px 0 4px 28px;
            background: none;
            color: var(--secondary);
            font-size: 1rem;
          }
          .help {
            margin-right: 24px;
            background: url(img/Question2025.png) no-repeat;
          }
          .login {
            background: url(img/Icon_Door2025.png) no-repeat;
          }
        }
      }
    }

    .globalnav {
      menu {
        display: flex;
        justify-content: space-between;

        margin: 0;
        border-bottom: none;

        li {
          border-top: none;
          padding: 0;
        }
      }
    }
  }
}

/* ハンバーガーボタン */
.hamburger {
  width: 44px;
  height: 44px;
  background: url(img/HamburgerButton2025.png) no-repeat;
  background-size: 200%;
}
.hamburger.menu-is-open {
  background-position: top 0 left -44px;
}
@media (width >= 768px) {
  /* PC表示ではハンバーガーボタンを非表示 */
  .hamburger {
    display: none;
  }
}
/*================================

Main

================================*/
.home main {
  margin-top: 0;

  .container {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: inherit;
  }
}

main {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--bg-alt);

  .container {
    margin: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--bg);
  }

  .breadcrumb {
    /* 最後のリンクからは > を消すには :not(:last-child) */
    span:not(:last-child)::after {
      content: ">";
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}

@media (width >= 768px) {
  :not(.home) main {
    /* 詳細度を合わせる */
    padding-top: 32px;
    padding-bottom: 72px;

    .container {
      margin: 0 auto;
      border-radius: 8px;
    }

    .breadcrumb {
      font-size: 0.875rem;
    }
  }
}
/*================================

Footer

================================*/
.footer {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--bg);
  color: var(--secondary);

  /* sitemap */
  .footer-nav {
    .sitemap {
      display: none;
    }
  }

  /* copyright */
  .copyright {
    margin-top: 32px;
    font-size: 0.75rem;
  }
}

@media screen and (width >= 768px) {
  .footer {
    /* sitemap */
    .footer-nav {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      gap: 32px;

      .sitemap {
        display: contents;
        font-size: 0.875rem;

        menu {
          display: contents;
        }
      }
    }

    /* copyright */
    .copyright {
      text-align: left;
    }
  }
}

/* simple シンプルテンプレート専用 ==================== */
.header.simple {
  padding-bottom: 16px;
}
@media screen and (width >= 768px) {
  .header.simple {
    padding-bottom: 0;
  }
}

.footer.simple {
  padding-top: 0;
  padding-bottom: 0;

  .copyright {
    margin-top: 1em;
  }
}
